
/*KARLA////////////////*//*KARLA////////////////*//*KARLA////////////////*/

/*@font-face {
    font-family: 'Karla';
    src: url('../font/Karla/Karla.eot');
    src: url('../font/Karla/Karla.eot?#iefix') format('eot'),
    url('../font/Karla/Karla.woff') format('woff'),
    url('../font/Karla/Karla.ttf') format('truetype'),
    url('../font/Karla/Karla.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Karla';
        src: url('../font/Karla/Karla.svg') format('svg');

    }
}*/